@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Maven Pro', sans-serif;

    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        font-size: 1rem;
        color: black;
    }

    .header__nav {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        justify-content: space-around;
        gap: 1rem;
    
        .header__logo {
            display: block;
            align-items: center;
            max-width: 25rem;
            min-width: 22rem;
        }
    
        
        .header__nav__menu {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        .header__nav__menu__link {
            padding: 15px;
            }
        .header__nav__menu__link:hover {
            background-color: #C5C9CD;
            color: white;
            transition: all 0.5s;
            }
        }
    }

    .contenedor {
        margin-top: 50px;
        padding: 80px;
        animation: atenuacion 8s infinite;
        font-family: 'Monoton';
    }

    .cards {
        margin-top: 80px;
    }
        .card__change-colour:hover {
            padding: 30px;
            background-color: #C5C9CD;
            color: white;
            transition: all 0.5s;
            .title_art {
                font-family: 'Quicksand', sans-seri
            }
            .text__link:hover {
                padding: 10px;
                background-color: #C5C9CD;
                color: white;
                transition: all 0.5s;
            }
            .paragraph_art {
                font-size: small;
                font-family: 'Quicksand', sans-seri
            }
        
        }
        
    /*FOOTER*/

footer{
    padding-top: 60px;
    padding-bottom: 60px;

    .footer__nav {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        justify-content: space-around;
        gap: 1rem;

        .footer__logo {
            display: block;
            align-items: center;
            max-width: 25rem;
            min-width: 22rem;
        }
        
        .footer__nav__menu {
            display: flex;
            align-items: center;
            gap: 2rem;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 35px;

            .footer__nav__menu__link{
                padding: 15px;
            }
            .footer__nav__menu__link:hover{
                background-color:#C5C9CD;
                color: white;
                transition: all 0.5s;
                font-style:15px
            }
        }
    }
    
}





    
}








@keyframes atenuacion {
    0% {
        opacity: 1;
    }

    50% {

        background-color: #C5C9CD;
        color: white;

    }

    100% {
        opacity: 1;
    }
}











