@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
body {
  font-family: 'Maven Pro', sans-serif;
  /*FOOTER*/ }
  body ul {
    list-style-type: none; }
  body a {
    text-decoration: none;
    font-size: 1rem;
    color: black; }
  body .header__nav {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-around;
    gap: 1rem; }
    body .header__nav .header__logo {
      display: block;
      align-items: center;
      max-width: 25rem;
      min-width: 22rem; }
    body .header__nav .header__nav__menu {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 35px; }
      body .header__nav .header__nav__menu .header__nav__menu__link {
        padding: 15px; }
      body .header__nav .header__nav__menu .header__nav__menu__link:hover {
        background-color: #C5C9CD;
        color: white;
        transition: all 0.5s; }
  body .contenedor {
    margin-top: 50px;
    padding: 80px;
    animation: atenuacion 8s infinite;
    font-family: 'Monoton'; }
  body .cards {
    margin-top: 80px; }
  body .card__change-colour:hover {
    padding: 30px;
    background-color: #C5C9CD;
    color: white;
    transition: all 0.5s; }
    body .card__change-colour:hover .title_art {
      font-family: 'Quicksand', sans-seri; }
    body .card__change-colour:hover .text__link:hover {
      padding: 10px;
      background-color: #C5C9CD;
      color: white;
      transition: all 0.5s; }
    body .card__change-colour:hover .paragraph_art {
      font-size: small;
      font-family: 'Quicksand', sans-seri; }
  body footer {
    padding-top: 60px;
    padding-bottom: 60px; }
    body footer .footer__nav {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      justify-content: space-around;
      gap: 1rem; }
      body footer .footer__nav .footer__logo {
        display: block;
        align-items: center;
        max-width: 25rem;
        min-width: 22rem; }
      body footer .footer__nav .footer__nav__menu {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 35px; }
        body footer .footer__nav .footer__nav__menu .footer__nav__menu__link {
          padding: 15px; }
        body footer .footer__nav .footer__nav__menu .footer__nav__menu__link:hover {
          background-color: #C5C9CD;
          color: white;
          transition: all 0.5s;
          font-style: 15px; }

@keyframes atenuacion {
  0% {
    opacity: 1; }
  50% {
    background-color: #C5C9CD;
    color: white; }
  100% {
    opacity: 1; } }

@media (max-width: 960px) {
  .contenedor {
    font-size: 45px; }
  .header__nav__menu {
    flex-direction: column; }
  .header__logo {
    text-align: center; }
  .cards {
    margin-top: 100px; }
  .footer__nav__menu {
    flex-direction: column; }
  .formulario {
    flex-direction: column; } }

@media (max-width: 540px) {
  .header__nav {
    flex-direction: column; }
  .footer__nav {
    flex-direction: column; } }
