.header__nav {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-around;
    gap: 1rem;

    .header__logo {
        display: block;
        align-items: center;
        max-width: 25rem;
        min-width: 22rem;
    }


    .header__nav__menu {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;

        .header__nav__menu__link {
            padding: 15px;
        }

        .header__nav__menu__link:hover {
            background-color: #C5C9CD;
            color: white;
            transition: all 0.5s;
        }
    }
}
