
.title_arts {
    margin-top: 30px;
    margin-left: 75px;
    font-family: 'Quicksand', sans-seri
}

.cards {
    margin-top: 80px;
    .title_art {
        font-family: 'Quicksand', sans-seri
    }
    .paragraph_art {
        font-size: small;
        font-family: 'Quicksand', sans-seri
       
        
    }
    
}