
.title_arts {
    @include margin(30px);
    margin-left: 75px;
    font-family: 'Quicksand', sans-seri
}


$nacionales:(
    cataratas:#C4C4C4,
    glaciares:#A1A3A5,
    salta:#84898E
) ;

 @each $pais,$color in $nacionales {
    .fondo--#{$pais}:hover{
        @extend.card__change-colour;
        background-color: $color;
    }
 }



.cards {
    @include margin(80px);
    .title_art {
        font-family: 'Quicksand', sans-seri
    }
    .paragraph_art {
        font-size: small;
        font-family: 'Quicksand', sans-seri
       
        
    }
    
}