


.contenedor {
    margin-top: 50px;
    padding: 80px;
    animation: atenuacion 8s infinite;
    font-family: 'Monoton';
}

.cards {
    margin-top: 80px;
}

.card__change-colour:hover {
    padding: 60px;
    background-color: #C5C9CD;
    color: white;
    transition: all 0.5s;

    .title_art {
        font-family: 'Quicksand', sans-seri
    }

    .text__link:hover {
        padding: 10px;
        background-color: #C5C9CD;
        color: white;
        transition: all 0.5s;
    }

    .paragraph_art {
        font-size: small;
        font-family: 'Quicksand', sans-seri
    }

}