.cards {
    @include margin(80px);
    .title_art {
        font-family: 'Quicksand', sans-seri
    }
    .paragraph_art {
        font-size: small;
        font-family: 'Quicksand', sans-seri  
        
    }
    
}
