
.form {
    padding: 2rem;
    text-align: center;
    .formulario {
        display: block;
        text-align: center;
        width: 50rem;
        margin: auto;
        background: white;
        @include margin(3rem);
        border: none;
        border-bottom: 5px dashed #C5C9CD;;
        outline: none;
        padding: 1rem;
        color: black; 
    }
    .send{
        @include margin(30px);
        padding: 1rem;
        background-color: #C5C9CD;
        color: aliceblue;
    }
}


